.home{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.activity-container{
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
}
.info-container{
    border: 1px solid gray;
}